<div class="" ng-init="initHome()">
    <div id="wrapper">
        <div id="scroller">
            <div class="panel-body" ng-if="refreshFlag">
                <div class="row col-xs-12 text-center">
                    <p class="label-error">Có lỗi xảy ra. Vui lòng <button class="btn btn-primary btn-lg" ng-click="initHome()">Tải lại</button></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="panel-body" style="padding-top: 8px; padding-bottom: 8px;">
                <div class="row">
                    <div class="col-xs-2">
                        <a class="btn btn-primary btn-lg" ng-click="filter()"><i class="glyphicon glyphicon-refresh"></i></a>
                    </div>
                    <div class="col-xs-7">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Mã đơn hàng" ng-model="keyword" aria-describedby="basic-addon1">
                            <a class="input-group-addon btn btn-primary" id="basic-addon1" ng-click="filter()"><i class="glyphicon glyphicon-search"></i></a>
                        </div>
                    </div>
                    <a class="btn btn-primary btn-lg" ng-click="statusCollapse.open = !statusCollapse.open">
                        <i class="glyphicon glyphicon-filter pull-left"></i>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusCollapse.open, 'glyphicon-chevron-right': !statusCollapse.open}"></i>
                    </a>
                </div>
            </div>

            <div class="panel-body" collapse="statusCollapse.open">
                <div class="row">
                    <div class="col-xs-12">
                        <span>Tỉnh</span>
                        <select class="form-control" ng-model="selected.Province" ng-change="loadDealers()" ng-options="item as item.ProvinceName for item in provinces"></select>
                    </div>

                </div>
                <div class="row">
                    <div class="default-padding col-xs-12">
                        <span>Đại lí</span>
                        <select class="form-control" ng-model="selected.Dealer" ng-change="reloadOrder(selected.Dealer)" ng-options="dealer as dealer.DealerName for dealer in dealers"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="default-padding col-xs-5">
                        <span>Trạng thái</span>
                        <select class="form-control" ng-model="filter.Status" ng-change="filter()">
                            <option value="0">Tất cả</option>
                            <option value="1">Chờ xử lý</option>
                            <option value="3">Từ chối</option>
                            <option value="2">Đã xử lý</option>
                            <option value="5">Đã hoàn tất</option>
                            <option value="6">Quá hạn</option>
                        </select>
                    </div>
                    <div class="default-padding col-xs-4">
                        <span>Năm</span>
                        <select class="form-control" ng-model="filter.Year" ng-change="filter()" ng-options="item as item for item in years">
                            <!--<option ng-repeat="item in years" value="{{item}}">{{item}}</option>-->
                        </select>
                    </div>

                    <div class="default-padding col-xs-3">
                        <span>Tháng</span>
                        <select class="form-control" ng-model="filter.Month" ng-change="filter()">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>

                </div>
            </div>

            <ul class="list-group order-list scrollable-menu">
                <li class="item list-group-item row" ng-repeat="order in orders" ng-click="orderDetail(order.OrderId)">
                    <div class="catalog-item">
                        <div class="left">
                            <div class="index">{{$index + 1}}</div>
                            <div class="text">
                                <span class="title">{{order.OrderCode}}</span><br />
                                <span class="type">{{order.OrderDate}}</span> <br />
                                <span class="type">
                                    <span class="label-status label-pending" ng-if="status.PENDING == order.Status">
                                        Chờ xử lý
                                    </span>
                                    <span class="label-status label-disapprove" ng-if="status.REJECT == order.Status">
                                        Từ chối
                                    </span>
                                    <span class="label-status label-approve" ng-if="status.SUCCESS == order.Status">
                                        Đã xử lý
                                    </span>
                                    <span class="label-status label-delivered" ng-if="status.DELIVERED == order.Status">
                                        Đã hoàn tất
                                    </span>
                                    <span class="label-status label-delivered" ng-if="status.EXPIRED == order.Status">
                                        Quá hạn
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="right">
                            <div class="price">{{format(order.Money, 0)}} vnđ</div>
                            <div class="button">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>

                <li class="item list-group-item row" ng-if="!orders || orders.length == 0">
                    <div class="col-xs-12 text-center">
                        <strong>Không có dữ liệu</strong>
                    </div>
                </li>

                <!--<li class="item list-group-item row">
                    <div class="catalog-item">
                        <div class="left">
                            <div class="index">2</div>
                            <div class="text">
                                <span class="title">DN_FA_0054</span><br />
                                <span class="type">17:00 03/03/2016</span> <br />
                                <span class="type">Chờ xử lý</span>
                            </div>
                        </div>
                        <div class="right">
                            <div class="price">50,000,000 vnđ</div>
                            <div class="button">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>-->

            </ul>
        </div>
    </div>
</div>