<div ng-init="initOrderReview()">
    <h4 class="text-center">Đơn hàng {{order.OrderCode}}</h4>
    <div class="panel panel-default" >
        <accordion>
            <accordion-group is-open="statusCollapse.flag">
                <accordion-heading ng-click="statusCollapse.flag = !statusCollapse.flag">
                    <div>
                        <strong>Thông tin đơn hàng</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statusCollapse.flag, 'glyphicon-chevron-right': !statusCollapse.flag}"></i>
                    </div>
                </accordion-heading>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">Đại lí</div>
                    <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{order.DealerName}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">Kho</div>
                    <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{order.FactoryName}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">Ngày đặt</div>
                    <div class="col-md-8 col-sm-8 col-xs-8 black-color"><strong>{{order.OrderDateView}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">Ngày giao</div>
                    <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{order.DeliverDateView}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">Tên người nhận</div>
                    <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{order.Recipient}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">Biển số xe</div>
                    <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{order.LicensePlate}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">Trạng thái</div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <span class="label-pending" ng-if="status.PENDING == order.Status">
                            <strong>Chờ xử lý</strong>
                        </span>
                        <span class=" label-disapprove" ng-if="status.REJECT == order.Status">
                            <strong>Từ chối</strong>
                        </span>
                        <span class=" label-approve" ng-if="status.SUCCESS == order.Status">
                            <strong>Đã xử lý</strong>
                        </span>
                        <span class=" label-delivered" ng-if="status.DELIVERED == order.Status">
                            <strong>Đã hoàn tất</strong>
                        </span>
                        <span class=" label-delivered" ng-if="status.EXPIRED == order.Status">
                            <strong>Quá hạn</strong>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">Lý do</div>
                    <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{order.Reason}}</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">Ghi chú</div>
                    <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{order.Note}}</strong></div>
                </div>
            </accordion-group>
        </accordion>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span><strong>Danh sách sản phẩm</strong></span>
        </div>
    </div>
    <ul class="list-group order-list scrollable-menu">
        <li class="item list-group-item row" ng-repeat="item in order.OrderDetail" ng-click="orderViewItem($index, item)">
            <div class="catalog-item">
                <div class="left">
                    <div class="index">{{$index + 1}}</div>
                    <div class="text">
                        <span class="title">{{item.ProductName}} ({{item.ProductLineName}})</span><br />
                        <span class="type">{{item.Specification}} {{item.Weight}}Kg</span> <br />
                        <span class="type">Số lượng: {{item.Count}}</span>
                    </div>
                </div>
                <div class="right">
                    <div class="price">{{format(item.Count * item.UnitPrice, 0)}} vnđ</div>
                    <div class="button">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </li>
        <li class="item list-group-item row">
            <div class="catalog-item">
                <div class="left">
                    <div class="index"></div>
                    <div class="text">
                        <span class="title">Tổng cộng</span><br />
                        <span class="type">Số bao/túi: {{format(totalCount, 0)}}</span><br />
                        <span class="type">Số tấn: {{format(totalQuantity, 3)}} tấn</span><br />
                        <span class="type">Thành tiền: {{format(totalMoney, 0)}} vnđ</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="panel-default">
        <div class="text-center">
            <button class="btn btn-danger btn-lg" ng-if="order.Status == 1" ng-click="cancelOrder(order)">Hủy</button>
        </div>
    </div>
</div>