<div class="panel panel-default" ng-init="initPreview()">
    <accordion>
        <accordion-group is-open="collapse.table1">
            <accordion-heading>
                <div>
                    <strong>{{'ORDER_INFO' | translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': collapse.table1, 'glyphicon-chevron-right': !collapse.table1}"></i>
                </div>
            </accordion-heading>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">{{'DEALER' | translate}}</div>
                <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{user.Name}}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">{{'FACTORY' | translate}}</div>
                <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{selectedFactory.FactoryName}}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">{{'DELIVERY_DAY' | translate}}</div>
                <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{deliveryDateView}}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">{{'RECIPIENT' | translate}}</div>
                <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{recipient}}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">{{'LICENSE_PLATE' | translate}}</div>
                <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{licensePlate}}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">{{'NOTE' | translate}}</div>
                <div class="col-md-8 col-sm-8 col-xs-8"><strong>{{note}}</strong></div>
            </div>
        </accordion-group>
    </accordion>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <span><strong>{{'LIST_PRODUCT' | translate}}</strong></span>
    </div>
</div>
<ul class="list-group order-list scrollable-menu">
    <li class="item list-group-item row" ng-repeat="item in orderListGroupBy | orderObjectBy:'selectedProduct.ProductLineName'" ng-click="orderViewPreviewItem($index, item)">
        <div class="catalog-item">
            <div class="left">
                <div class="index">{{$index + 1}}</div>
                <div class="text">
                    <span class="title">{{item.selectedProduct.ProductName}} ({{item.selectedProduct.ProductLineName}})</span><br />
                    <span class="type">{{item.selectedSpecify.Specification}} {{item.selectedSpecify.Weight}}Kg</span> <br />
                    <span class="type">{{'QUANTITY' | translate}}: {{ format(item.numOrder, 0)}}</span>
                </div>
            </div>
            <div class="right">
                <div class="price">{{ format(item.totalPrice, 0)}} {{'VND_ITEM' | translate}}</div>
                <div class="button">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </li>
    <li class="item list-group-item row">
        <div class="catalog-item">
            <div class="left">
                <div class="index"></div>
                <div class="text">
                    <span class="title">{{'TOTAL' | translate}}</span><br />
                    <span class="type">{{'QUANTITY' | translate}}: {{format(total.NumOrder, 0)}}</span><br />
                    <span class="type">{{'WEIGHT' | translate}}: {{format(total.Quantity, 3)}} {{'TON' | translate}}</span><br />
                    <span class="type">{{'CASH' | translate}}: {{format(total.Price, 0)}} {{'VND' | translate}}</span>
                </div>
            </div>
        </div>
    </li>
</ul>

<accordion>
    <accordion-group is-open="collapse.table2">
        <accordion-heading>
            <div>
                <strong>{{'ORDER_TOTAL' | translate}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': collapse.table2, 'glyphicon-chevron-right': !collapse.table2}"></i>
            </div>
        </accordion-heading>
        <table class="table dataTable receipt-data">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-right">{{'QUANTITY' | translate}}</th>
                    <th class="text-right">{{'WEIGHT' | translate}} {{'TON_SYMBOL' | translate}}</th>
                    <th class="text-right">{{'CASH' | translate}} {{'VND_SYMBOL' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="productLine in productLines" ng-if="receiptQuantities[productLine.ProductLineId] != 0">
                    <td>{{productLine.ProductLineName}}</td>
                    <td class="text-right">{{format(receiptNumOrder[productLine.ProductLineId], 0)}}</td>
                    <td class="text-right">{{format(receiptQuantities[productLine.ProductLineId], 3)}}</td>
                    <td class="text-right">{{format(receiptPrices[productLine.ProductLineId], 0)}}</td>
                </tr>
            </tbody>
        </table>
    </accordion-group>
</accordion>

<accordion>
    <accordion-group is-open="collapse.table3">
        <accordion-heading>
            <div>
                <strong>{{'TITLE_TOTAL_CURRENT_MONTH' | translate}}</strong><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': collapse.table3, 'glyphicon-chevron-right': !collapse.table3}"></i>
            </div>
        </accordion-heading>
        <table class="table dataTable">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-right">{{'WEIGHT' | translate}} {{'TON_SYMBOL' | translate}}</th>
                    <th class="text-right">{{'CASH' | translate}} {{'VND_SYMBOL' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="productLine in productLines">
                    <th>{{productLine.ProductLineName}}</th>
                    <th class="text-right">{{format(quantities[productLine.ProductLineId], 3)}}</th>
                    <th class="text-right">{{format(prices[productLine.ProductLineId], 0)}}</th>
                </tr>
                <tr>
                    <th>{{'TOTAL' | translate}}</th>
                    <td class="text-right">{{format(totalQuantityInMonth, 3)}} {{'TON_SYMBOL' | translate}}</td>
                    <td class="text-right">{{format(totalPriceInMonth, 0)}}</td>
                </tr>
            </tbody>
        </table>
    </accordion-group>
</accordion>

<accordion>
    <accordion-group is-open="collapse.table4">
        <accordion-heading>
            <div>
                <strong>{{'ORDER_PROGRESS_IN_MONTH' | translate}} {{month}}/{{year}}</strong> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': collapse.table4, 'glyphicon-chevron-right': !collapse.table4}"></i>
            </div>
        </accordion-heading>
        <table class="table">
            <tbody>
                <tr>
                    <th>{{'TOTAL_QUANTITY_ORDER' | translate}}</th>
                    <td class="text-right">{{format(total.Quantity, 3)}} {{'TON_SYMBOL' | translate}}</td>
                </tr>
                <tr>
                    <th>{{'TOTAL_QUANTITY_CURRENT' | translate}}</th>
                    <td class="text-right">{{format(QuantityCurrentMonth + total.Quantity, 3)}} {{'TON_SYMBOL' | translate}}</td>
                </tr>
                <!--<tr>
                <th>Chỉ tiêu</th>
                <td class="text-right">{{format(indicators, 3)}} (tấn)</td>
            </tr>
            <tr>
                <th class="text-danger">Còn lại</th>
                <td class="text-right">
                    <h6 class="text-danger">{{format(indicators - total.Quantity - QuantityCurrentMonth, 3)}} (tấn)</h6>
                </td>
            </tr>-->
            </tbody>
        </table>
    </accordion-group>
</accordion>

<div class="panel-body">
    <div class="row text-center">
        <h4>
            {{'MESSAGE_ACCEPT_1' | translate}}
            <button ng-disabled="success" type="button" ng-click="createOrder()" class="btn btn-primary btn-lg new-order">{{'CONFIRM' | translate}}</button>{{'MESSAGE_ACCEPT_2' | translate}}
        </h4>
    </div>
</div>
<div class="panel-body">
    <div class="row col-xs-12 text-center">
        <h4 ng-if="success" class="label-approve">{{'MESSAGE_ORDER_SUCCESS' | translate}} <a ng-click="homePage()">{{'LINK_BACK_ORDERLIST' | translate}}</a></h4>
    </div>
</div>
