<div class="info" ng-init="initDealerInfo()">
    <div class="panel panel-default">
        <div class="panel-heading"><span><strong>Thông tin người dùng</strong></span></div>
        <div class="panel-body">
            <table>
                <tr>
                    <td class="">Đại lý</td>
                    <td class=""><strong>{{user.Name}}</strong></td>
                </tr>
                <tr>
                    <td class="">Mã</td>
                    <td class=""> <strong>{{user.Code}}</strong></td>
                </tr>
                <tr>
                    <td class="">Kho</td>
                    <td class=""> <strong>{{factory.FactoryName}}</strong></td>
                </tr>
                <tr>
                    <td class="">Địa chỉ</td>
                    <td class=""> <strong>{{user.WardName}}, {{user.DistrictName}}, {{user.ProvinceName}}</strong></td>
                </tr>
            </table>
           
        </div>        
    </div>
    <button class="btn btn-default btn-lg" style="width: 100%" ng-click="logout()"><strong>Đăng xuất</strong></button>
    <h5 class="text-center">Phiên bản ứng dụng {{appversion}}</h5>
</div> 


