<div class="info" ng-init="initDealerInfo()">
    <table>
        <tr>
            <td>{{'LANGUAGE' | translate}}</td>
            <td>
                <select class="form-control" ng-model="curLanguage" ng-change="changeLanguage(curLanguage)">
                    <option value="vi">{{'VIETNAMESE' | translate}}</option>
                    <option value="en">{{'ENGLISH' | translate}}</option>
                </select>
            </td>
        </tr>
    </table>
    <div class="panel panel-default">
        <div class="panel-heading"><span><strong>{{'USER_INFO' | translate}}</strong></span></div>
        <!--<h6>{{message}}</h6>-->
        <div class="panel-body">
            <table class="row">
                <tr>
                    <td class="col-xs-2">{{ 'FULLNAME' | translate }}</td>
                    <td class=""><strong>{{user.Name}}</strong></td>
                </tr>
                <tr>
                    <td class="col-xs-2">{{ 'EMAIL' | translate }}</td>
                    <td class=""> <strong>{{user.Email}}</strong></td>
                </tr>
                <tr>
                    <td class="col-xs-2">{{ 'AC_PC' | translate }}</td>
                    <td class="">
                        <strong ng-if="user.AC_PC == 0">AC</strong>
                        <strong ng-if="user.AC_PC == 1">PC</strong>
                    </td>
                </tr>
                <tr>
                    <td class="col-xs-4">{{ 'POSITION' | translate }}</td>
                    <td class=""><strong>{{roleLevel2Name[currentRole][currentLevel]}}</strong></td>
                </tr>
            </table>

        </div>

    </div>
    <button class="btn btn-default btn-lg" style="width: 100%" ng-click="logout()"><strong>{{ 'LOGOUT' | translate }}</strong></button>
    <h5 class="text-center">{{ 'APP_VERSION' | translate }} {{appversion}}</h5>
</div> 