<!--<input  type="text" placeholder="Id" ng-model="user.id">
<input  type="password" placeholder="Mật khẩu" ng-model="user.password">
<button class="btn btn-primary btn-block" ng-click="login(user)">Đăng nhập</button>-->

<div class="login-background text-center" style="min-width: 100%; min-height: 100%;position: absolute;top: 0;left: 0;bottom: 0;vertical-align: middle;">
    <img src='masan-nutri-transparent.png' style="max-width: 100%; max-height: 100%;position: absolute;top: 0;left: 0;" />
    <form class="form-signin" name="frmChangePass" style="padding-top: 50%;display: inline-block;" ng-submit="changePassword(frmChangePass.$valid)" novalidate>
        <div class="login-main">
            <h2 class="form-signin-heading">Đổi mật khẩu</h2>

            <input style="margin-bottom: 10px;" type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mật khẩu mới" required autofocus ng-model="password" ng-minlength="6">
            <h6 ng-if="frmChangePass.inputPassword.$error.required && submit" class="label-error">Vui lòng nhập mật khẩu mới</h6>
            <h6 ng-if="frmChangePass.inputPassword.$error.minlength && submit" class="label-error">Mật khẩu lớn hơn 6 ký tự</h6>

            <input style="margin-bottom: 10px;" type="password" id="inputRePassword" name="inputRePassword" class="form-control" placeholder="Nhập lại mật khẩu mới" required ng-model="rePassword" ng-minlength="6">
            <h6 ng-if="frmChangePass.inputRePassword.$error.required && submit" class="label-error">Vui lòng nhập lại mật khẩu mới</h6>
            <h6 ng-if="frmChangePass.inputRePassword.$error.minlength && submit" class="label-error">Mật khẩu lớn hơn 6 ký tự</h6>

            <h6 ng-if="password != rePassword" class="label-error">Mật khẩu không trùng khớp</h6>
            <button style="width: 100%" class="btn btn-lg btn-primary" type="submit">Đổi mật khẩu</button>
            </div>
</form>

</div>

 <!--prevent tiny screen-->
<script type="text/javascript">
      //$(document).ready(function() {
      //    if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
      //        var msViewportStyle = document.createElement("style");
      //        msViewportStyle.appendChild(
      //            document.createTextNode("@-ms-viewport{width:auto!important}")
      //        );
      //        document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      //    }
      //});
</script>
