<!--<input  type="text" placeholder="Id" ng-model="user.id">
<input  type="password" placeholder="Mật khẩu" ng-model="user.password">
<button class="btn btn-primary btn-block" ng-click="login(user)">Đăng nhập</button>-->

<div class="login-background text-center" style="min-width: 100%; min-height: 100%;position: absolute;top: 0;left: 0;bottom: 0;vertical-align: middle;">
    <img src='masan-nutri-transparent.png' style="max-width: 100%; max-height: 100%;position: absolute;top: 0;left: 0;" />
    <form class="form-signin" id="loginForm" style="padding-top: 50%;display: inline-block;">
        <div class="login-main">
            <h2 class="form-signin-heading">Đăng nhập</h2>

            <input style="margin-bottom: 10px;" type="text" id="inputUserName" class="form-control" placeholder="Tên đăng nhập" required="" autofocus="" ng-model="user.id">

            <input style="margin-bottom: 10px;" type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required="" ng-model="user.password">
            <button style="width: 100%" class="btn btn-lg btn-primary" ng-click="login(user)" type="submit">Đăng nhập</button>
        </div>
    </form>

</div>

 <!--prevent tiny screen-->
<script type="text/javascript">
      //$(document).ready(function() {
      //    if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
      //        var msViewportStyle = document.createElement("style");
      //        msViewportStyle.appendChild(
      //            document.createTextNode("@-ms-viewport{width:auto!important}")
      //        );
      //        document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      //    }
      //});
</script>
